/* Form Container */
.form-container {
    width: 1000px;
    margin: 60px auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 3.2rem;
    font-weight: bold;
}

/* Form Styling */
.edit-profile-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    width: calc(50% - 10px); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & label{
        font-size: 2rem;
        font-weight: bold;
    }
}

.form-group.full-width {
    width: 100%;
    font-size: 2.2rem;
    /* text-align: center; */

    & label{
        font-size: 2rem;
    }
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    font-size: 2.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

button:hover {
    background-color: #45a049;
}

/* Form Messages */
.form-messages p {
    color: green;
    font-size: 1.1rem;
}
